extends layout 

block content 
    div.content 

        h1 Category: #{category.name}
        p #[strong Description:] #{category.description}

        if category_items.length 
            p #[strong Delete the following items before attempting to delete this category.]
            div(style='margin-left:20px;margin-top:20px')

                h4 Items
                ul.m-0.p-0.d-flex.flex-wrap(style="list-style-type: none; gap: 1rem") 
                    each item in category_items
                        li 
                            div
                                a(href=item.url)
                                    img.grid-item-image(src=`/data/uploads/${item.image.filename}`, alt=item.name)
                                    p.mb-2 #{item.name}
                                p.mb-1  R#{(item.price / 100).toFixed(2)}
                                p.mb-1 #{item.inStock} in stock
        else 
            p Do you really want to delete this category?

            form(method='POST')
                div.form-group
                    input#category_id.form-control(type='hidden' name='category_id', value=category._id )

                button.btn.btn-primary(type='submit') Delete