extends layout 

block content 
    div.content 

        h1 Category: #{category.name}
        p #[strong Description:] #{category.description}

        div(style='margin-left:20px;margin-top:20px')

            h4 Items
            if category_items.length 
                ul.m-0.p-0.d-flex.flex-wrap(style="list-style-type: none; gap: 1rem") 
                    each item in category_items
                        li 
                            div
                                a(href=item.url)
                                    img.grid-item-image(src=`/data/uploads/${item.image.filename}`, alt=item.name)
                                    p.mb-2 #{item.name}
                                p.mb-1  R#{(item.price / 100).toFixed(2)}
                                p.mb-1 #{item.inStock} in stock
            else 
                p This category has no items.
        hr
        p
            a(href=category.url+'/update') Update category
        p
            a(href=category.url+'/delete') Delete category