extends layout 

block content 
    div.content 

        h1 Item: #{item.name}
        p #[strong Description:] #{item.description}
        p #[strong Category:] #{item.category.name}
        p #[strong Price:] $#{(item.price / 100).toFixed(2)}
        p #[strong In Stock:] #{item.inStock}

        p Do you really want to delete this item?

        form(method='POST')
            div.form-group
                input#item_id.form-control(type='hidden' name='item_id', value=item._id )

            button.btn.btn-primary(type='submit') Delete