extends layout 

block content 
    div.content 

        h1 Item: #{item.name}
        p #[strong Description:] #{item.description}
        p #[strong Category:] #{item.category.name}
        p #[strong Price:] $#{(item.price / 100).toFixed(2)}
        p #[strong In Stock:] #{item.inStock}
        hr
        p
            a(href=item.url+'/update') Update item
        p
            a(href=item.url+'/delete') Delete item