extends layout 

block content 
    div.content
        h1= title 

        form(method="post" enctype="multipart/form-data") 
            div.form-group
                label(for="name") Name: 
                input#name.form-control(type="text" placeholder="Name of item" name="name" required value=(undefined===item ? "" : item.name))
            div.form-group
                label(for="description") Description:
                textarea#description.form-control(name="description" placeholder="Description of item" required)= undefined===item ? "" : item.description 
            div.form-group
                label(for="category") Category:
                select#category.form-control(name="category" required)
                    option(value='') --Please select a category--
                    for category in categories
                        if selected_category == category._id.toString()
                            option(value=category._id selected)= category.name 
                        else 
                            option(value=category._id)= category.name 
            div.form-group
                label(for='price') Price:
                input#price.form-control(type='number' min="0" name="price" value=(undefined===item ? "" : item.price))  
            div.form-group
                label(for='inStock') In Stock:
                input#price.form-control(type='number' min="0" name="inStock" value=(undefined===item ? "" : item.inStock))
            div.form-group
                if undefined !== item && item.image !== undefined 
                    p Current Image: 
                    p 
                        img.item-image(src=`/data/uploads/${item.image.filename}`, alt=item.name)
                label(for="image") Image: 
                input#image.form-control(type="file" name="image" accept="image/*")

            button.btn.btn-primary(type='submit') Submit

        if errors
            ul
                for error in errors
                    li!= error.msg