extends layout 

block content 
    div.content 
        div.container
            h1 Item: #{item.name}

            div.row.gap-4
                div.col-sm-auto
                    img.item-image(src=`/data/uploads/${item.image.filename}`, alt=item.name)
                div.col-sm.mt-4.mt-sm-0
                    p #[strong Description:] #{item.description}
                    p #[strong Category:] #{item.category.name}
                    p #[strong Price:] $#{(item.price / 100).toFixed(2)}
                    p #[strong In Stock:] #{item.inStock}

                    hr
                    p
                        a(href=item.url+'/update') Update item
                    p
                        a(href=item.url+'/delete') Delete item